extends _layout

block content
	.block-content.block-content--inner.block-content--last
		.row
			.col-12
				a.nav-icon-link(href='#')
					#bx_breadcrumb_0.nav__item.bread
						span(itemprop='title') Главная
				span.breadcrumbs__separator /
				a.nav-icon-link(href='#')
					#bx_breadcrumb_0.nav__item.bread
						span(itemprop='title') Медицинские статьи
				span.breadcrumbs__separator /
				a.nav-icon-link(href='#')
					#bx_breadcrumb_0.nav__item.bread
						span(itemprop='title') Заболевания
				span.breadcrumbs__separator /
				a.nav-icon-link(href='#')
					#bx_breadcrumb_0.nav__item.bread
						span(itemprop='title') Пневмонии
		.row
			.col-8
				h1 Пневмонии
				h3#anchor0 Общая часть
				p.introduction.inner__text Пневмония (воспаление легких) - воспалительный процесс инфекционного происхождения с преимущественным поражением альвеол (развитием в них воспалительной экссудации) и интерстициальной ткани легкого.
				
				p Неинфекционные воспалительные процессы в легочной ткани, обычно называют пневмонитами или (в случае преимущественного поражения респираторных отделов легких) альвеолитами. На фоне подобных асептических воспалительных процессов нередко развивается бактериальная, вирусно-бактериальная или грибковая пневмония.

				p Подозрение на пневмонию должно возникнуть, если у больного имеется лихорадка в сочетании с жалобами на кашель, одышку, отделение мокроты и/или боли в грудной клетке. Кроме того, может наблюдаться выраженное потоотделение по ночам. В такой ситуации необходимо сделать рентгенографию органов грудной клетки для выявления или исключения пневмонии.

				p Основным методом диагностики является рентгенологическое исследование легких, основным методом лечения - антибактериальная терапия. Поздняя диагностика и задержка с началом антибактериальной терапии (более 8 часов) ухудшают прогноз заболевания.
				h3#anchor1 Рабочая классификация пневмоний
				h5 Внебольничная пневмония.
				p Пневмония, приобретенная вне лечебного учреждения (синонимы: домашняя, амбулаторная), наиболее частая форма пневмоний.  
				h5 Госпитальная пневмония.
				p Пневмония, приобретенная в больнице не ранее чем через 48-72 часа после госпитализации по поводу другого заболевания (синонимы: нозокомиальная, внутрибольничная), составляет 10% от всех случаев пневмонии. Госпитальная пневмония вызывается, как правило, грамотрицательной флорой с высокой вирулентностью и устойчивостью к антибиотикам, что определяет тяжелое течение и высокую летальность при данной форме.
				h5#anchor2 Эпидемиология.
				p В России внебольничной пневмонией заболевают более 1,5 млн. человек в год. Госпитальная пневмония развивается у 0,5-1 % стационарных больных, проходящих лечение по поводу других заболеваний. В отделениях интенсивной терапии госпитальной пневмонией заболевают 15-20%, а среди пациентов, находящихся на ИВЛ, до 18-60%.
				p В США пневмонией заболевают от 2 до 3 млн. человек в год, примерно 45 000 случаев заканчиваются летальным исходом.
			.col-4
				.table-content
					ul.table-content__list
						-for(var i = 0; i < 3; i++)
							li
								a.table-content__item.scroll-link(href="#anchor#{i}") Общая часть
								ul.table-content__sub-list
									li: a.table-content__item.scroll-link(href="#anchor#{i}") Рабочая классификация пневмоний
									li: a.table-content__item.scroll-link(href="#anchor#{i}") Эпидемиология
									li: a.table-content__item.scroll-link(href="#anchor#{i}") Особенности этиологии и патогенеза при различных формах пневмонии