extends _layout

block content
	.block-content.block-content--inner.block-content--last
		.row
			.col-12
				a.nav-icon-link(href='#')
					#bx_breadcrumb_0.nav__item.bread
						span(itemprop='title') Главная
				span.breadcrumbs__separator /
				a.nav-icon-link(href='#')
					#bx_breadcrumb_0.nav__item.bread
						span(itemprop='title') Медицинские статьи
			.col-12
				h1 Медицинские статьи
				p.introduction.inner__text За много лет своей работы я собрал справочник и написал немало статей на разные медицинские темы. Здесь вы можете найти описание той или иной болезни, методы лечения, методы диагностики и так далее.
		.row
			.col-12
				.search
					p.search__caption Поиск статей
					form.search__form(action="", method="POST")
						input.search__input(type="text", placeholder="Введите ключевое слово для поиска…")
						button.button.button--green(type="submit") Найти
				.search-chars
					-for l in ['a','б','в','г','д','е','ж','з','и','к','л','м','н','о','п','р','с','т','у','ф','х','ц','ч','ш','щ','э', 'ю','я']
						a.search-chars__item(href="#")= l
		block articles
			.articles.articles--offset
				.row
					-for(var i = 0; i < 6; i++)
						.col-4
							.articles__item-pic
								svg.svg-icons.center(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', width='81', height='81')
									path(d='M70.2 55.8v-7.61C77.36 39.06 81 29.81 81 20.7 81 9.29 71.71 0 60.3 0c-9.31 0-17.21 6.18-19.8 14.66C37.91 6.18 30.01 0 20.7 0 10.43 0 1.88 7.52.27 17.35l-.01.01c-.29.29-.32.73-.13 1.07-.08.75-.13 1.5-.13 2.27 0 .78.03 1.56.08 2.33-.12.27-.09.58.07.83 1.01 11.19 7.24 21.06 14.5 28.95.01.01.01.02.01.03h.02c11.04 12.01 24.44 19.43 25.39 19.95.13.07.28.11.43.11.15 0 .3-.04.43-.11.11-.06 2.5-1.37 6.11-3.79.17.18.4.3.66.3h9v9c0 .5.4.9.9.9h11.7c.5 0 .9-.4.9-.9v-9h9c.5 0 .9-.4.9-.9V56.7c0-.5-.4-.9-.9-.9zM58.5 72.53V68.4c0-.15-.05-.29-.11-.41l10.5-10.5c.12.06.26.11.41.11h4.13zm9.9-21.76v4.66L56.33 67.5h-4.66zm-19.8 13.5l6.67-6.67h2.33c.5 0 .9-.4.9-.9v-2.33l6.67-6.67h3.23v.53L49.13 67.5h-.53zm0-6.67h4.13l-4.13 4.13zm9.9-9.9h4.13l-4.13 4.13zm-23.23 20l2.27-2.26c.35-.36.35-.92 0-1.28-.36-.35-.92-.35-1.28 0l-2.5 2.51c-1.16-.81-2.43-1.71-3.76-2.7l3.04-3.03c.35-.36.35-.92 0-1.28-.36-.35-.92-.35-1.28 0l-3.2 3.21c-1-.78-2.04-1.6-3.09-2.47l3.07-3.06c.35-.35.35-.92 0-1.28-.36-.35-.92-.35-1.28 0l-3.17 3.17c-1.12-.96-2.26-1.98-3.4-3.05l3.35-3.34c.35-.36.35-.92 0-1.28-.36-.35-.92-.35-1.28 0l-3.37 3.38c-.93-.9-1.85-1.84-2.75-2.8l3.8-3.8c.35-.36.35-.92 0-1.28-.36-.35-.92-.35-1.28 0l-3.74 3.75c-.87-.97-1.73-1.97-2.56-2.99l3.98-3.98c.35-.36.35-.92 0-1.28-.36-.35-.93-.35-1.28 0l-3.82 3.83c-.82-1.07-1.6-2.17-2.35-3.29.08-.04.17-.09.25-.16l4.05-4.05c.35-.36.35-.92 0-1.28-.36-.35-.93-.35-1.28 0l-4 4c-.61-.98-1.19-1.98-1.73-3 .09-.04.18-.1.26-.17l4.5-4.5c.35-.36.35-.92 0-1.28-.36-.35-.93-.35-1.28 0l-4.32 4.33c-.52-1.06-.99-2.14-1.43-3.23l6.12-6.12c.36-.35.36-.92 0-1.28-.35-.35-.92-.35-1.27 0l-5.53 5.53c-.39-1.16-.75-2.34-1.03-3.54.22 0 .44-.08.61-.24l7.2-6.75c.37-.34.38-.91.04-1.28-.34-.36-.91-.38-1.27-.04l-6.94 6.51c-.17-.97-.31-1.94-.4-2.92l9.49-9.49c.36-.35.36-.92 0-1.28-.35-.35-.92-.35-1.27 0l-8.34 8.35c0-.17-.02-.34-.02-.51 0-.85.08-1.69.19-2.51L14.14 6.04c.35-.36.35-.92 0-1.28-.36-.35-.92-.35-1.28 0L2.71 14.91C5.17 7.32 12.3 1.8 20.7 1.8c10.42 0 18.9 8.48 18.9 18.9 0 .5.4.9.9.9s.9-.4.9-.9c0-10.42 8.48-18.9 18.9-18.9 10.42 0 18.9 8.48 18.9 18.9 0 8.33-3.21 16.83-9.56 25.27-.1-.05-.22-.07-.34-.07H57.6c-.5 0-.9.4-.9.9v9h-9c-.5 0-.9.4-.9.9V67c-3.05 2.07-5.38 3.44-6.3 3.97-.81-.47-2.7-1.58-5.23-3.27zm33.13 4.67v5.03h-5.03zm0-3.97v1.43l-7.57 7.57H58.5v-2.33L75.97 57.6h2.33v2.33l-7.57 7.57H69.3c-.5 0-.9.4-.9.9zm9.9-5.93v5.03h-5.03z"', fill='#7f8ea5', fill-opacity='1')
								.text-center
									.articles__item-pic-text Заболевания
