extends _layout

block content
	.row
		.cols-12
			ul
				li: a(href="showroom.html") Стили
				li: a(href="main.html") Главная
				li: a(href="inner.html") Inner
				li: a(href="articles.html") Статьи
				li: a(href="articles-inner.html") Статьи внутри
				li: a(href="articles-detail.html") Статья детально
