extends _layout

block content
	.block-content.block-content--inner.block-content--last
		.row
			.col-12
				.breadcrumbs Главная
			.col-12
				h1 Внутренняя страница
			.col-12
				p.introduction.inner__text Финансовый Автопилот — это современный сервис по формированию и поддержанию оптимальной структуры инвестиционного портфеля с целью накопления капитала для реализации Ваших жизненных планов. Более полная информация находится в разделе 
					span.link-text о себе.
			.col-12
				p.body.inner__text Этот неожиданный аргумент особенно понравился приказчику, и он издал одобрительный звук. Все в доме идет по-старому, но все в недоуменье и все вопросительно и укоризненно смотрят на меня, предполагая, что все это от меня. А во мне все та же борьба — злобы за то, что она меня мучает, и беспокойства за нее.	Прожили одну зиму, и в другую зиму случилось еще следующее никому не заметное, кажущееся ничтожным обстоятельство, но такое, которое и произвело все то, что произошло. Она была нездорова, и мерзавцы не велели ей рожать и научили средству. Мне это было отвратительно. Я боролся против этого, но она с легкомысленным упорством настояла на своем, и я покорился; последнее оправдание свиной жизни — дети — было отнято, и жизнь стала еще гаже.	Так прожили мы еще два года. Средство мерзавцев, очевидно, начинало действовать; она физически раздобрела и похорошела, как последняя красота лета. Она чувствовала это и занималась собой. В ней сделалась какая-то вызывающая красота, беспокоящая людей. Она была во всей силе тридцатилетней нерожающей, раскормленной и раздраженной женщины. Вид её наводил беспокойство. 
			.col-12
				p.body.inner__text Когда она проходила между мужчинами, она притягивала к себе их взгляды. Она была как застоявшаяся, раскормленная запряженная лошадь, с которой сняли узду. Узды не было никакой, как нет никакой у 0,99 наших женщин. И я чувствовал это, и мне было страшно. А то страшное средство в руках кого попало. Например, хоть бы эту Крейцерову сонату, первое престо. Разве можно играть в гостиной среди декольтированных дам это престо? Сыграть и потом похлопать, а потом есть мороженое и говорить о последней сплетне. Эти вещи можно играть только при известных, важных, значительных обстоятельствах, и тогда, когда требуется совершить известные, соответствующие этой музыке важные поступки. Сыграть и сделать то, на что настроила эта музыка. А то несоответственное ни месту, ни времени вызывание энергии, чувства, ничем не проявляющегося, не может не действовать губительно. На меня, по крайней мере, вещь эта подействовала ужасно; мне как будто открылись совсем новые, казалось мне, чувства, новые возможности, о которых я не знал до сих пор.
			.col-12
				ul.body
					li 	Первичное снижение давления сфинктера.
					li 	Увеличения числа и продолжительности эпизодов преходящего расслабления сфинктера. К дисфункции сфинктера могут приводить его транзиторная релаксация, постоянная релаксация, временное повышение внутрибрюшного давления.
					li 	Полная или частичная деструкция нижнего пищеводного сфинктера (при развитии грыжи пищеводного отверстия диафрагмы).

			.col-12
				h3.inner__text Медицина на протяжении всей жизни
			.col-12
				p.body.inner__text Да вот как, совсем не так, как я прежде думал и жил, а вот как, как будто говорилось мне в душе. Что такое было то новое, что я узнал, я не мог себе дать отчета, но сознание этого нового состояния было очень радостно. Всє те же лица, и в том числе и жена и он, представлялись совсем в другом свете. После этого престо они доиграли прекрасное, но обыкновенное, не новое andante с пошлыми варьяциями и совсем слабый финал. Потом еще играли по просьбе гостей то «Элегию» Эрнста, то еще разные вещицы. Все это было хорошо, но все это не произвело на меня и 0,01 того впечатления, которое произвело первое. Все это происходило уже на фоне того впечатления, которое произвело первое. Мне было легко, весело весь вечер. Жену же я никогда не видал такою, какою она была в этот вечер. Эти блестящие глаза, эта строгость, значительность выражения, пока она играла, и эта совершенная растаянность какая-то, слабая, жалкая и блаженная улыбка после того, как они кончили. Я все это видел, но не приписывал этому никакого другого значения, кроме того, что она испытывала то же, что и я, что и ей, как и мне, открылись, как будто вспомнились новые, неиспытанные чувства. Вечер кончился благополучно, и все разъехались.
			.col-12
				a.button.button--green.button--fixed ЗАПИСАТЬСЯ НА ПРИЕМ