extends _layout
block vars
	- var  headerClass = "header--main"
block headerAdd
	.header-image-bg
	.header-image
		.header-image__row
			.header-image__text-col
				h1.header-image__caption
					| СВАДЕБНЫЕ САЙТЫ.
					br
					| НОВЫЙ ВИД #[span.header-image__caption-highlight ПРИГЛАШЕНИЯ]
					br
					| НА СВАДЬБУ
				ul.header-image__text
					li — Уникальное и #[sapn.header-image__text-highlight креативное] приглашение гостей на торжество
					li —  Дизайн пригласительных #[sapn.header-image__text-highlight на любой вкус]
					li —  #[sapn.header-image__text-highlight Индивидуальное] наполнение сайта
					li —  Освещение #[sapn.header-image__text-highlight информации о мероприятии:] место сбора, адрес, подробная программа торжества
					li —  Сбор #[sapn.header-image__text-highlight статистики] относительно предпочтений гостей по меню #[br.hide-mobile]и любых других данных
					li —  Режим #[sapn.header-image__text-highlight презентации] после свадьбы. Возможность выложить на сайте фото и видео
					li —  Поток из Инстаграма по #[sapn.header-image__text-highlight #хэштегу]
				a.button.header-image__button(href="#") Создать сайт-приглашение
			.header-ipad
				img.header-ipad__image(src="images/header-image-ipad.png")
				.arrow-block.arrow-block--header Создание займет #[br]всего 10 минут
				.header-image__iphone
block content
	.wrapper.pt60#about
		.row
			.col-12
				h2
					| ОНЛАЙН-ПРИГЛАШЕНИЯ.
					br
					| КАК ЭТО РАБОТАЕТ
				p.sub-title
					| Современные свадебные приглашения в виде собственного сайта через интернет.
					br
					| Этим приглашением вы сможете удивить всех гостей свадьбы.
					br
					| Предлагаем вам узнать подробнее что это.
		.about
			.about-slider.row
				.col-3
					svg.about__icon(height='62', width='86', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 86 62')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 3.93 3.34 C 1.67 5.22 2.21 57.07 4.35 58.51 C 6.49 59.96 78.02 60.4 80 58.62 C 81.98 56.84 84.46 6.53 81.94 4.17 C 79.42 1.81 6.19 1.47 3.93 3.34 L 3.93 3.34 L 3.93 3.34 Z M 3.93 3.34')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 3.85 18.87 C 6.54 18.87 74.01 19.64 81.73 19.64')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 12.45 10.81 L 12.27 10.37 L 12.45 9.92 L 13.02 9.92 L 13.28 10.37 L 13.03 10.81 L 12.45 10.81 L 12.45 10.81 Z M 12.45 10.81')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 20.96 10.81 L 20.77 10.37 L 20.96 9.92 L 21.52 9.92 L 21.79 10.37 L 21.53 10.81 L 20.96 10.81 L 20.96 10.81 Z M 20.96 10.81')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 29.52 10.81 L 29.34 10.37 L 29.52 9.92 L 30.08 9.92 L 30.35 10.37 L 30.1 10.81 L 29.52 10.81 L 29.52 10.81 Z M 29.52 10.81')
					.about__caption Современное #[br]персональное приглашение
					p Ваша пара живет в ногу со временем? Это приглашение сразу задаст креативный и современный стиль вашей свадьбы
				.col-3
					svg.about__icon(height='73', width='53', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 53 73')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 14.61 54.38 C 12.4 51.67 3.01 36.13 2.18 34.41 C 1.36 32.7 7.17 27.82 10.79 30.97 C 13.43 33.26 15.77 36.29 15.77 36.29 C 14.9 28.91 15.96 8.46 15.84 6.7 C 15.46 1.41 24.9 -0.32 25.4 6.74 C 25.62 9.91 25.63 23.87 25.63 23.87 C 27.32 22.69 32.75 22.57 34.52 25.1 C 37.04 23.15 43.03 23.3 44.65 27.44 C 48.75 26.62 50.47 30.67 50.77 34.9 C 51.07 39.13 47.17 54.45 43.09 56.86 C 39.01 59.28 19.26 60.08 14.61 54.38 L 14.61 54.38 L 14.61 54.38 Z M 14.61 54.38')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 30.14 37.45 L 28.98 43.16')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 38.72 38.61 L 37.58 44.54')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 17.39 57.16 C 17.39 57.16 16.25 67.84 17.54 69.21 C 18.83 70.58 40.5 70.73 41.96 68.9 C 43.42 67.07 43.27 59.36 42.94 58.32')
					.about__caption Легкое создание #[br]и понятное наполнение
					p С помощью нашего сайта вы сможете с легкостью создать уникальное интерактивное свадебное приглашение. Закажите приглашение!
				.col-3
					svg.about__icon(height='57', width='80', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 80 57')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 2.74 20.65 C 2.44 22.64 25.13 28.43 25.91 29.18 C 26.91 30.13 41.75 55.19 44.74 54.65 C 47.72 54.11 80.93 4.35 76.96 2.25 C 72.99 0.15 3.04 18.66 2.74 20.65 L 2.74 20.65 L 2.74 20.65 Z M 2.74 20.65')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 26.49 28.65 C 38.74 21.65 56.74 12.4 74.24 3.9')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 25.49 30.15 C 25.49 36.4 25.74 48.15 26.49 51.15 C 30.99 48.9 32.7 48.3 35.99 46.4')
					.about__caption Удобная рассылка #[br]гостям в другие города
					p Рассылка online поможет сократить время на приглашение гостей. Удобно отправлять в другие города и даже страны, нужно лишь отправить ссылку
				.col-3
					svg.about__icon(height='65', width='54', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 54 65')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 13.56 38.85 C 21.14 39.05 30.49 38.65 39.22 38.25')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 13.56 27.81 C 21.14 28.01 30.49 27.61 39.22 27.21')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 13.56 15.96 L 24.22 15.7')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 13.56 49.27 C 21.14 49.47 30.49 49.07 39.22 48.67')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 50.95 60.24 C 49.61 62.02 6.09 63.95 4.54 61.47 C 3 59 1.76 6.72 3.3 3.93 C 4.85 1.15 32.69 2.08 34.55 2.69 C 36.41 3.31 49.71 12.59 50.33 14.14 C 50.95 15.69 52.8 57.76 50.95 60.24 L 50.95 60.24 L 50.95 60.24 Z M 50.95 60.24')
						path(stroke-linejoin='miter', stroke-linecap='butt', stroke-width='4', stroke='#cf73b0', fill='none', fill-rule='evenodd', d='M 34.55 2.69 C 33.31 4.86 35.31 15.14 36.24 16.07 C 37.17 17 49.09 15.69 50.33 14.14')
					.about__caption Быстрый сбор #[br]информации и статистики
					p Ваш сайт приглашение поможет собрать все предпочтения гостей свадьбы. Теперь очень легко определится с количесвом гостей, еды и алгоколем.
	.wrapper.t120#design
		.row
			.col-12
				h2
					| ДИЗАЙН СВАДЕБНЫХ САЙТОВ
					br
					| НА ЛЮБОЙ ВКУС
				p.sub-title
					| Создать свое интерактивное приглашение на свадьбу очень легко
					br.hide-mobile
					| с помощью сервиса wowwelcome.
		.sample-wrapper
			.sample
				.row.sample-slider
					.col-4
						a.sample__item(style="background-image: url(images/sample-1.jpg)", href="#", target="_blank")
							.sample__caption Первые подснежники
							.sample__demo Смотреть демо
							.sample__price 5 000 ₽
							.sample__desc 2 дня бесплатно
					.col-4
						a.sample__item(style="background-image: url(images/sample-2.jpg)", href="#", target="_blank")
							.sample__caption ЦВЕТУЩАЯ РОМАШКА
							.sample__demo Смотреть демо
							.sample__price 2 900 ₽
							.sample__desc 2 дня бесплатно
					.col-4
						a.sample__item(style="background-image: url(images/sample-3.jpg)", href="#", target="_blank")
							.sample__caption СМЕЛОЕ РЕШЕНИЕ
							.sample__demo Смотреть демо
							.sample__price 2 900 ₽
							.sample__desc 2 дня бесплатно
					.col-4
						a.sample__item(style="background-image: url(images/sample-4.jpg)", href="#", target="_blank")
							.sample__caption СОЛНЕЧНЫЙ ТЮЛЬПАН
							.sample__demo Смотреть демо
							.sample__price 2 900 ₽
							.sample__desc 2 дня бесплатно
					.col-4
						a.sample__item(style="background-image: url(images/sample-5.jpg)", href="#", target="_blank")
							.sample__caption НЕЖНЫЙ ПИОН
							.sample__demo Смотреть демо
							.sample__price 2 900 ₽
							.sample__desc 2 дня бесплатно
		.row.hide-mobile
			.col-12
				a.button(href="#") Создать сайт-приглашение
	.wrapper.lacy-block#create
		.row
			.col-12
				h2
					| СОЗДАТЬ ПРИГЛАШЕНИЕ —
					br
					| НЕ СОСТАВИТ ТРУДА
				p.sub-title Создать свое интерактивное приглашение сайт на свадьбу очень легко с помощью сервиса wowwelcome. #[br]Уже через 10 минут можно наполнять свой сайт. Первые 2 дня работы бесплатные
				ul.list-blue
					li.list-blue__item
						.list-blue__caption 1. Выбор дизайна вашего приглашения
						p Выбирайте дизайн и стиль, который подойдет именно Вашей паре. Это приглашение сразу задаст креативный и современный стиль вашей свадьбы
					li.list-blue__item
						.list-blue__caption 2. Наполнение сайта необходимой информацией
						p Теперь все в ваших руках! #[br]Заполняйте сайт так, как вам нравится. Добавляйте собственные фото, тексты и опросы, создавайте приглашение гостям. Пробуйте, экспериментируйте, творите.
					li.list-blue__item
						.list-blue__caption 3. Рассылка гостям персональной ссылкой
						p Чтобы разослать ваше персональное свадебное приглашение гостям свадьбы, просто скопируйте ссылку и отправьте гостю
	.wrapper.t80#recalls
		.row
			.col-12
				h2
					| ОТЗЫВЫ
					br
					| МОЛОДОЖЕНОВ
				p.sub-title Оставить отзыв можно в нашей группе Вконтакте #[a.decorated-link(href="https://vk.com/wowwelcome", target="_blank") vk.com/wowwelcome]
		.row
			.col-12
				.comment
					.comment__item
						.comment__image(style="background-image: url(images/comment-1.png)")
						a.comment__link(href="http://mw.future-group.ru" target="_blank") mw.future-group.ru
						.comment__content
							.comment__caption Анна и Никита
							p Во-первых, спасибо вам огромное за такую крутую и необычную идею. Мы сами были были в восторге от того, что можно так креативно созвать своих гостей на торжество, а также изящно решить вопрос с кол-вом напитков и вариациями блюд. #[br]Наши гости до сих пор вспоминают приглашения и рассказывают всем своим знакомым об этом открытии. Мы смогли всех приятно удивить! 
					.comment__item
						.comment__image(style="background-image: url(images/comment-4.png)")
						a.comment__link(href="http://mms.wowwelcome.ru" target="_blank") mms.wowwelcome.ru
						.comment__content
							.comment__caption Максим и Мария
							p Очень полезный и инновационный сайт! Мы делали приглашения для своих гостей и были приятно удивлены, услышав столько положительных отзывов от своих друзей. Администраторы очень оперативно помогают решать все возникающие трудности при оформлении. Сайт очень прост в использовании. Рекомендую попробовать и удивить своих гостей!
					.comment__item
						.comment__image(style="background-image: url(images/comment-2.png)")
						a.comment__link(href="http://dragan-family.wowwelcome.ru" target="_blank") dragan-family.wowwelcome.ru
						.comment__content
							.comment__caption Ирина и Михаил
							p Очень современное и креативное свадебное приглашение! #[br]Все были приятно удивленны. Мы смогли произвести впечатление на гостей не только нашей церемонией. #[br]Наша небесная сказка удалась!
					.comment__item
						.comment__image(style="background-image: url(images/comment-5.png)")
						a.comment__link(href="http://romilalexandra.wowwelcome.ru" target="_blank") romilalexandra.wowwelcome.ru
						.comment__content
							.comment__caption Александра и Ромиль 
							p Красивый и необычный сайт, наши пригласительные удивили всех гостей ,сайт простой в использовании ,по всем возникшим вопросам можно обратиться к администраторам ,они помогут добавить именно ту опцию в пригласительные, которая вам нужна.Советую попробовать,ваши пригласительные будут самые креативные!
					.comment__item
						.comment__image(style="background-image: url(images/comment-3.png)")
						a.comment__link(href="http://aandm.wowwelcome.ru" target="_blank") aandm.wowwelcome.ru
						.comment__content
							.comment__caption Андрей и Мария
							p Долго думали насчет приглашений на нашу свадьбу, и были приятно удивлены находкой данного проекта! С помощью этих персональных приглашений мы смогла воплотить наши фантазии в жизнь, при чем без больших затрат денег и времени! Гости были в восторге от такого необычного приглашения на свадьбу, а у нас не было лишней мороки с бумажными приглашениями! Всем советуем!
		.row
			.col-12
				.counter
					.counter__container
						.counter-num
							.counter-num__top
							.counter-num__bottom
							.counter-num__numeral 1
						.counter-num
							.counter-num__top
							.counter-num__bottom
							.counter-num__numeral 3
						.counter-num
							.counter-num__top
							.counter-num__bottom
							.counter-num__numeral 2
					.counter__text Пары воспользовались сервисом wowwelcome и создали свадебные приглашния в виде сайта
	.wrapper.t120#partners
		.row
			.col-12
				h2
					| СТАНЬ ПАРТНЕРОМ. 
					br
					| ЗАРАБАТЫВАЙ НА ПРИГЛАШЕНЯХ
				p.sub-title Если Вы организуете свадьбы, работаете свадебным фотографом, оператором или распорядителем, то наша команда готова предложить вам партнерскую программу. Вы #[a.decorated-link(href="#") регистрируетесь как партнер] wowwelcome, проходите проверку и получаете постоянную скидку #[span.text-bold 40%] на каждый пригласительный сайт, а это минимум #[span.text-bold 1 200 рублей] за одно созданное приглашение.
				.button-desc
					a.button(href="#") Стать партнером
					.arrow-block.arrow-block--footer Подробнее #[br]о партнерской программе
					
				
	