.addForm-top-text
  text-align center
  margin-top 10px
  margin-bottom 30px
.addForm-input
  &__label
    color #525b6a
    font-family "Proxima Nova"
    font-size 14px
    font-weight 700
    line-height 24px
    transition: all 0.3s ease-out;
