.block-content
  background-color white
  border-top 1px dashed #d7dfe5
  border-bottom 1px dashed #d7dfe5
  padding 45px 0
  margin-bottom 40px
  &--inner 
  	margin-top 40px
  &--last
    margin-bottom 0px
