.breadcrumbs__separator
	color: #7f8ea5;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;

.pointer
	cursor: pointer;
	margin-bottom: 20px;

.bread
	margin-bottom: 20px;
	border-width: 1px;