.buttons-block
  width 139px
  display inline-block
  margin-right 127px
.button__item
  size 139px 60px
  border-radius 100px
  padding-top 21px
  padding-left 40px
  margin-bottom 40px
  &-text
    color #a4b3b7
    font-family Roboto
    font-size 14px
    font-weight 700
    line-height 16px
    margin-bottom 20px
  &-green
    background-color #6bd869
    &--hover
      box-shadow 0 20px 30px rgba(106, 216, 104, 0.5)

  &-blue
    background-color #72afff
    &--hover
      box-shadow 0 20px 30px rgba(113, 175, 255, 0.5)
    &-light
      background-color #8dd8fc

  &-tran
    background-color transparent
    border 1px solid #7f8ea5
    &--hover
      background-color #7f8ea5

.button__item-blue-light--hover
  box-shadow 0 20px 30px rgba(130, 211, 252, 0.5)

.button-text
  color white
  font-family "Proxima Nova"
  font-size 14px
  font-weight 700
  line-height 17px
  &--last
    color #7f8ea5


.button_item--disabled
  opacity 0.2