.clr
  &-block
    min-width 150px
    min-height 190px
    &--green
      background-color #6bd869
    &--blue
      background-color #72AFFF
    &--blue-light
      background-color #8DD8FC
    &--black
      background-color #525B6A
    &--gray
      background-color #EDF6FD
    &--gray-dark
      background-color #7F8EA5



  &-text
    color #1c2e36
    font-family Roboto
    font-size 14px
    font-weight 700
    line-height 16px
    margin-bottom 50px
    padding-top 15px