body
	-webkit-font-smoothing: antialiased; /* mac fix */
	-webkit-text-stroke: 1px transparent; /* mac fix */
	//background-color #5c5c5c
	@media mobile
		// overflow-x hidden
		min-width 0
		max-width 100%
.canvas
	box-shadow: 0 0 40px rgba(127, 142, 165, 0.5);
.button-desc
	position relative
	display inline-block
	margin-top 30px
	@media mobile
		display none
.overflow
	overflow-x hidden
.hide-mobile
	@media mobile
		display none
.hide-desc
	@media not-mobile
		display none
.mt60
	margin-top 60px
.pt60
	padding-top 60px
.mt80
	margin-top 80px
.mt120
	margin-top 120px
	@media mobile
		margin-top 60px
.t80
	padding-top 30px
	margin-top 50px
	@media mobile
		padding-top 20px
		margin-top 40px
.t120
	padding-top 30px
	margin-top 90px
	@media mobile
		padding-top 20px
		margin-top 70px