.icons-block
  margin-bottom 60px
  &--callback
    & + &
      margin-left 30px
  &--medicine
    fill #6bd869
    & + &
      margin-left 86px
  &--slide
    & + &
      margin-left 20px
  &--arrow
    & + &
      margin-left 20px



region:hover
  fill #6bd869