.lacy-block
	background-color #eee
	padding 60px 0
	margin 85px 0 5px
	position relative
	@media mobile
		padding 30px 0
		margin 55px 0 5px
	&:after,
	&:before
		content ""
		size 100% 22px
		background url("../images/block-circle-border.svg") repeat-x
		position absolute
		display block
		top -5px
	&:after
		top auto
		bottom -5px