.link-block
  width 241px
  display inline-block
  &__menu
    border-bottom  2px solid rgba(127, 142, 165, .3);
    color #7f8ea5
    display inline-block
    font-family "Proxima Nova"
    font-size 16px
    font-weight 400
    line-height 20px
    margin-right 30px
    margin-bottom 40px
    &--hover
      width 158px
      color #525b6a
      border-bottom 2px solid #525b6a
      margin-right 800px
  &__text
    color #a4b3b7
    font-family Roboto
    font-size 14px
    font-weight 700
    line-height 16px
    margin-bottom 20px
  &__item
    font-family "Proxima Nova"
    font-size 20px
    font-weight 400
    line-height 29px
    color #525b6a
    margin-bottom 50px
    &--mtext
      color #72afff
    &--mtext-2
      color #6bd869
