.table-content
	font-size 14px
	line-height 22px
	list-style none
	background-color alpha(#edf6fd, .5)
	padding 30px
	flex 0 0 auto
	&__list
		font-weight 700
		list-style none
		padding-left 0
		margin-top 0
		margin-bottom 0
	&__sub-list
		font-weight 400
		list-style none
		margin-top 5px
		li + li
			margin-top 5px
	&__item
		color #7f8ea5
		text-decoration none
		border-bottom 1px solid #7f8ea5
		&:hover
			color #72afff
			border-color #72afff