.typography-block
  width 100%
  margin-bottom 40px
  &__item-var
    width 162px
    height 100%
    color #a4b3b7
    display inline-block
    font-family Roboto
    font-size 14px
    font-weight 700
    line-height 16px
    text-align right
    vertical-align middle
    margin-right 35px
  &__item-val-h1
    color #525b6a
    display inline-block
    font-family "Proxima Nova"
    font-size 30px
    font-weight 700
    line-height 42px
  &__item-val-h2
    color #525b6a
    display inline-block
    font-family "Proxima Nova"
    font-size 26px
    font-weight 700
    line-height 36px
  &__item-val-h3
    color #7f8ea5
    display inline-block
    font-family "Proxima Nova"
    font-size 20px
    font-weight 700
    line-height 26px
  &__item-val-Introduction
    width 75%
    color #525b6a
    display inline-block
    font-family "Proxima Nova"
    font-size 20px
    font-weight 400
    line-height 29px
  &__item-val-Body
    width 75%
    color #525b6a
    display inline-block
    font-family "Proxima Nova"
    font-size 16px
    font-weight 400
    line-height 26px
  &__item-val-Small
    width 75%
    opacity 0.6
    color #7f8ea5
    display inline-block
    font-family "Proxima Nova"
    font-size 12px
    font-weight 700
    line-height 18px
